
@media only screen and (min-width:600px){

    :root{
        --margin-x-container:65px;
        --margin-gap:20px;
    }

    /* classes */
    .d-sm-none {
        display: inline;
    }
    .d-sm-none.flex {
        display: flex;
    }
    .d-sm-none.b{
        display: block;
    }
    .d-lg-none{
        display: none !important;
    }

    /******************* pagination component ************/

    .pagination{
        margin: 64px auto;
    }

    .pagination h4{
        font-size: 20px;
        line-height: 27px;
    }

    .pagination .left,
    .pagination .right{
        border: 2px solid #334155;
        font-size: 18px;
    }

    /****************** footer component ********************/

    .main-footer{
        padding: 100px 40px;
    }

    .main-footer .logo{
        margin-bottom: 24px;
    }

    .main-footer h4{
        font-size: 32px;
        line-height: 48px;
    }

    .main-footer .article{
        margin-bottom: 48px;
    }

    .main-footer p {
        line-height: 32px;
        max-width: 479px;
        font-size: 24px;
        margin: 0 auto;
    }

    .main-footer .social{
        max-width: 250px;
    }

    .main-footer .social  div{
        width:40px;
        height:40px;
    }

    /******* header component ************/


    .main-header .logo-content h4{
        font-size:24px;
        line-height:32px;
    }

    .nav-container ul li{
        font-weight: 700;
    }

    /******* orange cover component ************/

    .orange-cover {
        width: calc(100% - calc(var(--margin-x-container) * 2));
        margin:auto;
    }

    .orange-cover  .content{
        font-size: 16px;
        text-align: center;
    }

    .orange-cover  .content h6{
        font-size: 36px;   
        margin-bottom:8px;
    }

    .orange-cover  .content p {
        max-width:250px;
        font-size: 16px;
        margin: 0 auto 8px;
    }

    .orange-cover .contact {
        justify-content:center;
    }

    /********* black cover component  ***********/

    .black-cover {
        height: 344px;
        padding: 32px 0;
        background-position: -216px 0;
    }

    
    .black-cover .content {
        padding-left: 30px;
    }

    .black-cover .content h6{
        font-size: 36px;
        margin-bottom: 12px;
    }

    .black-cover .content >  p {
        text-align: start;
        padding: 0;
        font-size: 16px;
        margin-bottom: 12px;
    }

    .black-cover .content .rating:after {
        left:20%;
        width:2px;
    }

    .black-cover .content .rating p {
        font-size: 12px;
    }

    .black-cover .img-container {
        margin-left: var(--margin-x-container);
        width: 45%;
    }

    .black-cover .content {
        width: 65%;
    }

    
}




@media only screen and (min-width:1024px){

    :root{
        --margin-x-container:100px;
        --margin-gap:32px;
        --sixteen-mob:24px;
        --eight-mob:16px;
        --forty-two-mob:32px
    }

    .container{
        flex-direction: row;
        justify-content: space-between;
    }

    .main-header .nav-container {
        background:inherit;
        position: initial;
        transform:scale3d(1,1,1);
    }

    

    /***********  orange cover component   ***********/

    .cover{
        min-height: 305px;
    }

    .orange-cover .img-container{
        height: 305px;
    }
    .orange-cover .img-container img{
        height: 100%;
    }

    .orange-cover .yellow-border img {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 305px;
    }

    .brown-img{
        max-width:122px;
        height: 305px;
    }

    .brown-img img{
        width: 100%;
        height: 100%;
    }

    .orange-cover .content{
        left: 340px;
        top: 85px;
        text-align: start;
    }

    .orange-cover .content h6{
        letter-spacing: 0.2px;
    }

    .orange-cover .content p{
        margin: 0  0 8px 0;
    }

    .orange-cover .contact{
        justify-content: flex-start;
    }

    .orange-cover  .whats{
        display: inline-block;
        min-width:25px;
        min-height: 25px;
    }

    .offer-container .water-mark {
        position: absolute;
        bottom: 24px;
        left: 70px;
    }

    .offer-container{
        height: 70px;
        width: 75px;
        left: -124px;
        bottom: 70px;
    }
    .points{
        gap: 12px;
    }

    .points span{
        width: 12px;
        height: 12px;
    }

    .points span:nth-child(2){
        width: 18px;
        height: 18px;
        background: rgba(255, 255, 255, 0.8);
    }

    .orange-cover > .water-mark {
        top: 25px;
        right: 95px;
    }

    /********* black cover component ************/

    .black-cover {
        background-position: -63px 0px;
        margin-bottom:64px;
    }

    /*  general meals component */

    .filters .container{
        flex-direction: row;
        margin-bottom:32px;
        border-bottom:2px solid #CBD2D9;   
    }

    .filters h3{
        font-size:32px;
        font-weight: 700;
        color: #183B56;
        margin-bottom: 12px;
        line-height:32px;
    }

    .filters p {
        margin-bottom:24px;
    }

    .sort{
        column-gap:12px
    }

    .meals .container{
        width:95%;
        margin: auto;
    }

    .meal.large .meal-img {
        width: 255px;
        height: 150px;
    }

    .meal.large .meal-content  h6{
        font-size: 18px;
        margin-bottom: 8px;
    }
    .meal.large .meal-content  p{
        font-size: 16px;
        margin-bottom:9px;
    }

    /******************************************/
    /*             cart page                  */
    /******************************************/

    .cart h4{
        font-size:20px;
    }

    .cart .container{
        padding: 32px 24px 0px;
        box-shadow: 2px 1px 0 0 rgba(56,60,86,.44),
                    -1px -1px 0px 0 rgba(56,60,86,.44)
    }

    .cart-header{
        display: flex;
    }
    .meal-cart-content{
        flex-direction:row;
    }

    .cart .meal-cart-content  > *:last-child {
        justify-content: flex-end;
    }

    .meal-qty{
        padding-right:130px;
    }

    .cart-footer:not(.btn-container){
        font-size:24px;
        line-height:32px;
    }
    .cart-footer .btn-container{
        top: 56px;
    }
/*****************************************************/
/*                      form component               */
/*****************************************************/    

    .login{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 114px;
        perspective-origin:top left;
        margin: 0;
    }

    .login > *{
        flex:1;
    }

    .login-form{
        position: initial;
        max-width:calc(100% - 156px);
        max-width:456px;
        height:calc(561px + 48px);
        padding:0 48px 48px;
        margin-left: var(--margin-x-container);
        background: #FEFEFF;
        box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    }


    .form-img {
        display: none;
    }

    .inputs{
        position: initial;
        height:286px;
        padding: 0;
        margin: 0;
        background: inherit;
    }

    .inputs label.relative::before {
        content: 'Login';
        position: absolute;
        top:-88px;
        left: 0;
        right: 0;
        font-size:32px;
        font-weight: 500;
        font-style: italic;
        line-height: 32px;
        text-align: center;
        color: #0F172A;
    }

    .login .login-img{
        display: block;
    }

    .login .logo{
        display: block;
    }

    /***********************************************/
    /*              root-minus-header-child       */                 */
    /*********************************************/

    .root-minus-header-child.success  .img{
        max-width:64px;
        max-height:64px;
        margin:0 auto 40px;
    }
    .root-minus-header-child.empty-cart .img{
        max-width:425px;
        max-height:367px;
        margin:0 auto 48px;
    }
    .root-minus-header-child.not-found .img{
        max-width:269px;
        max-height:297px;
        margin:0 auto 48px;
    }
    .root-minus-header-child.success h3{
        font-size:24px;
        line-height:32px;
    }
    .root-minus-header-child.empty-cart h3{
        font-size:32px;
        line-height:48px;
    }
    .root-minus-header-child.not-found h3{
        font-size:32px;
        font-weight: 700;
        line-height:48px;
    }

    .root-minus-header-child.empty-cart  article{
        margin-bottom:16px;
    }
    .root-minus-header-child.empty-cart  article p{
        margin-bottom:16px;
        font-size: 16px;
        line-height: 24px;
    }
    .root-minus-header-child.success article p{
        font-size:16px;
    }
    .root-minus-header-child article p{
        font-size: 20px;
        line-height: 32px;
    }

    .root-minus-header-child.empty-cart br{
        display: none;
    }
}





@media only screen and (min-width:1340px){
    :root{
        --margin-x-container:165px;
    }

    /***************** orange cover component ************/

    .orange-cover .img-container {
        width: 550px;
    }

    .orange-cover .img-container img{
        width: 100%;
    }

    .orange-cover .yellow-border {
        left: 127px;
        width: 152px;
        transform: rotateZ(7deg);
    }

    .orange-cover .content {
        left: 520px;
    }

    .offer-container {
        bottom: 73px;
        left: -148px;
    }

    .orange-cover .brown-img{
        width: 122px;
    }

    .orange-cover > .water-mark {
        top:40px;
        right: 141px;
    }


    /********************* meals component ************/
    
    .meals .container {
        width: calc(100% - calc(var(--margin-x-container) * 2));
        justify-content: space-around;
    }
     
    .meals .container .meal-content{
        width: 175px;
    }
    
}

