
@media only screen and (min-width:600px){

    :root{
        --margin-x-container:65px;
        --margin-gap:20px;
    }

    /* classes */

    .d-none-until-med{
        display:block;
    }

    .d-none-from-med{
        display: none;
    }

    /******************* pagination component ************/
    .pagination{
        margin: 64px auto;
    }

    .pagination .pagination-lg-count{
        font-size: 20px;
        line-height: 27px;
    }

    .pagination .left, .pagination .right{
        font-size: 25px;
    }

    .pagination .directions{
        font-size: 18px;
    }

    /****************** footer component ********************/

    .main-footer{
        padding: 100px 40px;
    }

    .main-footer .logo{
        margin-bottom: 24px;
    }

    .main-footer .content h2{
        font-size: 32px;
        line-height: 48px;
    }

    .main-footer .article{
        margin-bottom: 48px;
    }

    .main-footer .logo h2 {
        font-size:32px;
        line-height:48px;
    }

    .main-footer p {
        line-height: 32px;
        max-width: 479px;
        font-size: 24px;
        margin: 0 auto;
    }

    .main-footer .social{
        max-width: 250px;
    }

    .main-footer .social  div{
        width:40px;
        height:40px;
    }

    /******* header component ************/


    .main-header .nav-container{
        padding:2px;
    }

    .main-header .logo-container {
        gap:18px;
    }

    .main-header .logo-content h1{
        font-size:24px;
        line-height:32px;
    }

    .nav-container ul li{
        font-weight: 700;
    }

    /********* slider component ************/

    .slider-container{
        width: 90%;
    }
    .slider-content{
        left:55%;
    }
    
    .slider-concat{
        font-size: 12px;
        letter-spacing:1px;
    }

    /********* black cover component  ***********/

    .black-cover {
        height: 344px;
        padding: 32px 0;
        background-position: -216px 0;
    }

    
    .black-cover .content {
        padding-left: 30px;
    }

    .black-cover .content h2{
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 12px;
    }

    .black-cover .content >  article {
        text-align: start;
        padding: 0;
        margin-bottom: 12px;
    }

    .black-cover article span {
        font-size: 16px;
        line-height: 24px;
    }

    .black-cover .content .rating:after {
        left:20%;
        width:2px;
    }

    .black-cover .content .rating p {
        font-size: 12px;
    }

    .black-cover .img-container {
        margin-left: var(--margin-x-container);
        width: 45%;
    }

    .black-cover .content {
        width: 65%;
    }
    
}




@media only screen and (min-width:1024px){

    :root{
        --margin-x-container:100px;
        --margin-gap:32px;
        --sixteen-mob:27px;
        --eight-mob:16px;
        --forty-two-mob:32px
    }

    /* classes */

        /* classes */

        .d-sm-none {
            display: block;
        }
        .d-sm-none.flex {
            display: flex;
        }
        .d-sm-none{
            display: block;
        }
        .d-lg-none{
            display: none !important;
        }

        /* components */

    .container{
        flex-direction: row;
        justify-content: space-between;
        width:75%;
    }

    .meals.add-sub-meals .container{
        width: 95%;
    }

    .main-header .nav-container {
        width:fit-content;
        margin: 0;
        background:inherit;
        position: initial;
        transform:scale3d(1,1,1);
    }
    /***************** footer component ***************/

    .main-footer{
        margin-top: 64px;
    }

    .btn-container{
        margin-top:48px;
    }

    /***********  slider component   ***********/

    .slider-img {
        height:313px;
    }

    .slider h2{
        line-height: 48px;   
        margin-bottom:8px;
    }

    .slider-content{
        bottom:80px;
        left:52%;
    }

    .slider p{
        max-width:250px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin: 0  0 8px 0;  
    }

    .slider span {
        font-size: 12px;
        line-height:24px;
    }

    .slider .contact{
        justify-content: flex-start;
    }

    .slider  .whats{
        display: inline-block;
        min-width:25px;
        min-height: 25px;
    }

    .points{
        gap: 12px;
    }

    .points span{
        width: 12px;
        height: 12px;
    }

    .points span:nth-child(2){
        width: 18px;
        height: 18px;
        background: rgba(255, 255, 255, 0.8);
    }

    /********* black cover component ************/

    .black-cover {
        background-position:28px 0px;
        margin-bottom:32px;
    }

    /**************  general meals component ******/

    .filters .container{
        flex-direction: row;
        margin-bottom:32px;
        border-bottom:2px solid #CBD2D9;   
    }

    .filters h3{
        font-size:32px;
        font-weight: 700;
        color: #183B56;
        margin-bottom: 12px;
        line-height:48px;
    }

    .filters p {
        margin-bottom:24px;
    }

    .sort{
        column-gap:12px
    }

    /* meals */

    .meal-content h4 {
        font-size:18px;

    }    

    .meal-content p {
        font-size: 14px;
        line-height:24px;
    }

    .meal.large .meal-img {
        width: 255px;
        height: 150px;
    }

    .meal.large .meal-content  h6{
        font-size: 18px;
        margin-bottom: 8px;
    }
    .meal.large .meal-content  p{
        font-size: 16px;
        margin-bottom:9px;
    }

    
    
    /******************************************/
    /*             cart page                  */
    /******************************************/

    .cart .container{
        padding: 32px 0px 48px;
        border: 0.5px solid rgba(56,60,86,.44);    
    }

    .cart-header,
    .cart-body,
    .cart-footer{
        padding-left:48px;
        padding-right:48px;
    }
    .cart-header{
        display: flex;
        padding-left:120px;
    }
    .meal-cart-content{
        flex-direction:row;
    }

    .cart h4{
        font-size:20px;
    }


    .cart .meal-cart-content  > *:last-child {
        justify-content: flex-end;
    }

    .cart .counter{
        min-width: 200px;
        padding-left:40px;
        justify-content: flex-start;
    }

    .meal-qty{
        padding-right:130px;
    }

    .hr-container{
        justify-content: flex-end;
    }

    .hr-container hr{
        width:calc(100% - 48px);
    }

    .cart-footer:not(.btn-container){
        font-size:24px;
        line-height:32px;
    }
    .cart-footer .btn-container{
        top: 56px;
    }
/*****************************************************/
/*                      form page                    */
/*****************************************************/    

    .login{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap:0px;
        perspective-origin:top left;
        margin: 0;
    }

    .login > *{
        flex:1;
    }

    .login-form{
        position:relative;
        max-width:calc(100% - 156px);
        max-width:456px;
        height:calc(561px + 48px);
        padding:0 48px 48px;
        margin-left: var(--margin-x-container);
        background: #FEFEFF;
        box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    }

    .form-img {
        display: none;
    }

    .inputs{
        position: initial;
        height:286px;
        padding: 0;
        margin: 0;
        background: inherit;
    }

    .login-container {
        top: 135px;
        left: 50%;
        transform: translateX(-50%);
    }

    .login-container h1{
        font-size: 32px;
        font-weight: 500;
        line-height:40px;
        text-align: center;
        color: #0F172A;
    }

    .login .login-img{
        display: block;
    }

    .login .logo{
        display: block;
    }

    /***********************************************/
    /*              root-minus-header-child       */                 */
    /*********************************************/

    .root-minus-header-child.success  .img{
        max-width:64px;
        max-height:64px;
        margin:0 auto 40px;
    }
    .root-minus-header-child.empty-cart .img{
        max-width:425px;
        max-height:367px;
        margin:0 auto 48px;
    }
    .root-minus-header-child.not-found .img{
        max-width:269px;
        max-height:297px;
        margin:0 auto 48px;
    }

    .root-minus-header-child.success .root-child-heading {
        margin-bottom:24px;
    }
    .root-minus-header-child.empty-cart .root-child-heading {
        margin-bottom:12px;
    }
    .root-minus-header-child.not-found .root-child-heading {
        margin-bottom: 16px;
    }

    .root-minus-header-child.success .root-child-heading .title{
        font-size:24px;
        line-height:32px;
    }
    .root-minus-header-child.empty-cart .root-child-heading  .title{
        font-size:32px;
        line-height:48px;
    }
    .root-minus-header-child.not-found .root-child-heading  .title{
        font-size:32px;
        font-weight: 700;
        line-height:48px;
    }

    .root-minus-header-child.empty-cart  article{
        margin-bottom:16px;
    }
    .root-minus-header-child.empty-cart  article p{
        margin-bottom:16px;
        font-size: 16px;
        line-height: 24px;
    }
    .root-minus-header-child.success article p{
        font-size:16px;
    }
    .root-minus-header-child.not-found article p{
        font-size: 20px;
        line-height: 32px;
    }

    .root-minus-header-child.empty-cart br{
        display: none;
    }
}





@media only screen and (min-width:1340px){
    :root{
        --sixteen-mob:36px
    }


    /********************* header ******************/

    .main-header .nav-container {
        padding: 0;
    }

    /***************** orange cover component ************/

    .slider h2{
        font-size: 36px;
    }


    /********************* meals component ************/
    
    .meals .container {
        justify-content: space-around;
    }

    .meals.add-sub-meals .container{
        width:75%;
    }


    .meal.meal.large {
        gap:30px;
    }
    
    .meals .container .meal-content{
        width: 175px;
    }

    .meal.large .meal-content .meals-rating {
        margin-bottom:12px;
    }

    /*********** login page    **************/

    .login{
        column-gap: 114px;
    }
    
}

