.black-cover{
    height:200px;
    background-image: url('../../images/black-cover/cover-black.png');
    background-size: cover;
    color: var(--light-color);
}

.restaurant-cover{
    height: 100%;
}

.black-cover h2 , .black-cover article span{
    font-family: 'Roboto', sans-serif;
}

.black-cover .img-container{
    height: calc(100% - 21px);
    width:35%;
}

.black-cover .content {
    min-width: 200px;
    padding-top:55px;
    padding-left: 16px;
    width: 65%;
}

.black-cover h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 8px;
}

.black-cover article {
    font-size:8px;
    margin-bottom: 16px;
}

.black-cover article span{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.black-cover span:first-child{
    margin-bottom:8px;
}

.black-cover .content .rating{
    margin-top: 12px;
    width: 100%;
    gap: 32px;
}

.black-cover .rating p{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.black-cover .rating small{
    font-size: 12px;
    font-weight:700;
    line-height: 16px;
    color: #ffffffde;
}

.rating .rating-left{
    padding-right: 20px;
    border-right: 1px solid #d8dfdf;
}


