
/* orange cover */

.orange-cover{
    border-radius: var(--cover-radius);
    background: #DF864D;
    background-image: url('../../images/cover/orange-cover-Group.png');
    background-size: contain;
    background-repeat: repeat;
}

.brown-img,
.orange-cover,
.orange-cover img
{
    border-top-right-radius:var(--cover-radius);
    border-bottom-right-radius:var(--cover-radius) ;
}
.brown-img,
.img-container,
.img-container img{
    border-top-left-radius:var(--cover-radius);
    border-bottom-left-radius:var(--cover-radius) ;
}

.orange-cover .yellow-border{
    left: -7px;
    width: 10px;
}
.orange-cover .yellow-border img{
   position: absolute;
}

.brown-img{
    right:0px;
    top: 0;
    bottom: 10px;
    height:100%;
    max-width:46px;
}

.orange-cover .content{
    position: absolute;
    left:175px;
    right:30px;
    top:48px;
    bottom:0;
    font-size: var(--eight-mob);
    color: #fff;
    z-index:2;
}

.brown-img .content h6  > .water-mark{
    top: 30px;
    left: 20px;
}

.orange-cover .content h2{
    position: relative;
    font-size:var(--sixteen-mob);
    font-weight: 700;
    margin-bottom: 4px;
    color: #57221A;
    white-space: nowrap;
}


.orange-cover p {
    margin-bottom:8px;
    font-weight: 500;
    line-height: 12px;
}

.orange-cover .content span {
    font-weight: 400;
    line-height: 12px;
}


.orange-cover .content .whats{
    display: inline-block;
    max-width: 12px;
    max-height: 12px;
    margin-right: 5px;
}

.offer-container{
    bottom: 30px;
    left: -30px;
    width:auto;
    height:auto;
}

.fifty::before{
    content: url('../../images/cover/border-offer.png');
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 7px;
    border-radius: 50%;
    width: 50px;
}

.offer-container .fifty{
    width: 98px;
    height: 96px;
    border-radius: 50%;
    background: #fff;
}

.offer-container > img{
    width: 100%;
    height: 100%;
}

.offer-container .water-mark {
    bottom: 15px;
    left: 35px;
}

.water-mark{
    position: absolute;
}

.water-mark div{
    position: absolute;
}

.points{
    bottom: 10px;
    display: flex;
    gap: 4px;
}

.points span{
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
}

.points span:nth-child(2){
    width:6px;
    height:6px;
    position: relative;
    top: -2px;
    background: rgba(255, 255, 255, 0.8);
}

.orange-cover > .water-mark {
    position: absolute;
    top: 25px;
    right: 54px;
    z-index: 3;
}


/* black cover */

.black-cover{
    height:200px;
    background-image: url('../../images/black-cover/cover-black.png');
    background-size: cover;
    color: var(--light-color);
}

.black-cover .img-container{
    height: calc(100% - 21px);
    width:35%;
}

.black-cover .content {
    min-width: 200px;
    padding-top:55px;
    padding-left: 16px;
    width: 65%;
}

.black-cover h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 8px;
}

.black-cover article {
    font-size:8px;
    margin-bottom: 16px;
}

.black-cover article span{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.black-cover span:first-child{
    margin-bottom:8px;
}

.black-cover .content .rating{
    margin-top: 12px;
    width: 100%;
    gap: 32px;
}

.black-cover .rating p{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.black-cover .rating small{
    font-size: 12px;
    font-weight:700;
    line-height: 16px;
    color: #ffffffde;
}

.rating .rating-left{
    padding-right: 20px;
    border-right: 1px solid #d8dfdf;
}


