.main-header{
    max-width: 100%;
    padding: 0px 2px;
}

.main-header .container{
    margin: 0 auto;
    gap:32px 30px;
    background: #F8FAFC;
}

.main-header .logo-container{
    gap:20px;
    min-height: 64px;
}

.main-header  .logo-img{
    width:var(--logo-width);
    height: var(--logo-height);
}

.main-header .logo-content h4{
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 24px;
}

.main-header .nav-container {
    position: absolute;
    top: 64px;
    left:0;
    right:0;
    min-height:96px;
    padding: 0 32px;
    background:#fff;

    display:flex;
    justify-content: space-between;
    align-items: center;
    transform-origin: left top;
    transform:scale3d(1,0,1);
    transition:transform .3s ;
    z-index:10;

}

.main-header .show-list{
    transform:scale3d(1,1,1);
}

.main-header .hide-list{
    transform: scale3d(1,0,1);
}

.main-header ul{
    gap: var(--margin-gap);
}

.nav-container ul li{
    font-size: 16px;
    font-weight:500;
    line-height: 26px;
    letter-spacing: -0.36px;
}

.main-header ul li:first-child{
    color: #334155;
}

.main-header  .x{
    width: 20px;
    height: 20px;
    font-size: 16px;
    padding: 5px 5px 7px;
    margin-left: var(--margin-gap);
    border-radius: 50%;
    background: #334155;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}


.main-header .menu-btn{
    top: 20px;
    right: 20px;
}

.menu-btn span {
    display: block;
    width: 18px;
    height:2px;
    margin-bottom:2px;
    background: #231F20;

}
