
.filters .container {
    padding-top:24px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:32px;
}

.filters h3{
    font-size: 24px;
    font-weight: 700;
    color: #183B56;
    margin-bottom: 12px;
}

.filters p {
    font-size: 12px;
    line-height: 24px;
    color: #64748B;
    margin-bottom:16px;
}

.filters .sort-title{
    font-size: 16px;
    line-height: 24px;
    color: #475569;
}

/* sort */
.sort {
    max-width: 185px;
    padding: 1px 2px;
}
.sort-menu{
    width:24px;
    height: 24px;
    padding:6px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sort-drop{
    width:5px;
    height:5px;
    border-top:5px solid #475569;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
}

.sort-menu span{
    display: block;
    height: 2px;
    background: #475569;
}

.sort-menu span:first-child{
    width: 100%;
}
.sort-menu span:nth-child(2){
    width: 50%;
}
.sort-menu span:last-child{
    width: 25%;
}



.meal {
    display: flex;
    max-width:calc(160px + 174px + 16px);
    align-items: center;
    gap: 16px;
}

.meals .container {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 32px;
    column-gap: 5px;
    row-gap: var(--forty-two-mob);
    flex-direction:row;
}


.meal-content {
    width: 174px;   
}

.meal-img{
    width: 160px;
}

.meal-content h6{
    font-size: 16px;
    margin-bottom: 4px;
}

.meal-content p{
    font-size:12px;
    margin-bottom: 8px;
}

.meals-rating span{
    font-size: 12px;
}

.meals-rating span:first-child{
    position: relative;
    top:3px;
}