.pagination {
    margin-bottom: 50px;
    max-width: fit-content;
    gap: 12px;
    margin: 32px auto 48px;
}

.pagination h4{
    font-family:'Bree Serif', serif;
    font-size: 16px;
    font-weight:400;
    line-height: 24px;
    word-spacing: 5px;
    color: #334155;
}

.pagination .left,
.pagination .right{
    width: 24px;
    height: 24px;
    padding-top: 5px;
    font-size: 16px;
    border:1px solid #334155;
}
